body{
    width: 90%;
    margin: auto;
}
p{
    font-size: 1em;
}
li{
    font-size: 1em;
}

.header{
    height: 300px;
    background-image: url(/styles/images/Ocean.jpg);
    background-size: cover;
    
}
.skiplink{
    position: absolute;
    left: -10000px;
    top: 0;

}
.skiplink:focus {
left: 0;
}
.article{
    
    margin-top: 50px;
    
    display: flex;
    
    gap: 10px;
}
.blogarticle{
    font-size: 1em;
    border: 10px solid yellowgreen;
    padding: 10px;
    border-radius: 15px;
    
    background-color: tomato;
    
    
}